body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: 0%;
}
:root {
    --dark-grey: #3b3734;
    --light-grey:#8d84a080;
    --lighter-grey:#929292;
    --lightest-grey:#bbb4af;
}

/* Navigation Bar*/
nav{
    display:flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 1%;
}

nav > ul{
    display: flex;
    list-style: none;
    align-items: center;
}
nav > li{
    padding: 0.5em 0.5em;
}
nav > a{
    text-decoration: none;
    color: var(--dark-grey);
}
.logo{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.2 rem;
}
.logo > p{
    display: inline;
    font-weight: bold;
    color: var(--dark-grey);
}
.logo >span{
    font-weight: medium;
    color: var(--lighter-grey);
}










