body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --dark-grey: #3b3734;
    --light-grey:#8d84a080;
    --lighter-grey:#929292;
    --lightest-grey:#bbb4af;
}

/* Navigation Bar*/
nav {
    width: fit-content;
    font-size: 32px;
    padding: 0 16px;
    position: relative;
    top: 0;
    
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
nav li {
    display: flex;
    font-size: small;
    float: left;
    border: 2px solid #e8e6f0;
}
nav a {
    display: inline;
    background-color: #ddd;
    color: var(--dark-grey);
    padding: 8px;
    text-decoration-line: none;
}

/* Change the link color on hover */
nav li a:hover {
    background-color: #3a4e66;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.1rem;
}
.logo > p {
    display: inline;
    font-weight: bold;
    color: var(--dark-grey);
}
.logo > span {
    font-weight: medium;
    color: var(--lighter-grey);
}

/* HERO CONTAINER */
.hero-container {
    background-color: var(--lighter-grey);
    display: flex;
    padding: 5px 5px;
    text-align: left;
}
.hero-container-button {
    background-color: var(--dark-grey);
    width: 100%;
    height: 2rem;
    color: white;
    text-align: center;
    padding: 8px 8px;
}
.hero-left-img {
    width: 60%;
}
.hero-right {
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 2%;
    padding: 0 2%;
    text-align: left;
    justify-content: center;
}
.hero-right > h1, h4 {
    padding: 5%;
    color: var(--dark-grey);
}
.hero-right-a {
    color: white;
    text-decoration-line: none;
    ;
}

/* NEWS SECTION */
.news-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    color: var(--dark-grey);
}

/* News -- Left */
.news-left {
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.news-left-img {
    width: 100%;
}
.news-info {
    padding-bottom: 2%;
}
.news-left-info h2, p {
    padding: 2%;
}
.news-left-info p {
    font-size: 80%;
}

/* News Right */
.news-right {
    display: flex;
    flex-direction: column;
}
.news-right-img {
    width: 10rem;
}
.news-right h4 {
    font-size: 100%;
}
.news-right-button {
    background: none;
    border: 0;
    border-radius: 4%;
}
.news-right a {
    text-decoration: none;
}
.orientation, .campus, .guest {
    display: flex;
    border: 1px solid var(--lighter-grey);
    padding: 2%;
}
.orientation-info, .campus-info, .guest-info {
    padding: 0 5%;
    margin-top: 4%;
    font-size: 90%;
}
.orientation-info > *, .campus-info > *, .guest-info > * {
    padding: 2% 0;
}
.guest {
    background-color: var(--lighter-grey);
    margin: 0 0 25 0;
}

/** HIDE Mobile Images **/
.orientation-left-mobile, .campus-left-mobile, .guest-left-mobile {
    display: none;
}

/* Start Learning Section */
.sl-container {
    background-color: var(--lightest-grey);
    padding: 2% 5% 8% 5%;
    grid-auto-columns: 1fr;
}
.sl-container > h1 {
    text-align: center;
    color: var(--dark-grey);
    padding: 4%;
}

/* Start learning Grid */
.s1-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    grid-gap: 2%;
}
.s1-grid-wrapper img {
    width: 100%;
}

/** Start learning individual grid **/
.sl-grid-wrapper > * {
    display: flex;
    flex-direction: column;
}
.sl-info {
    background-color: white;
    padding: 5%;
}
.sl-info > * {
    padding: 3% 0;
}

